			label {
			    color: blue;
			    font-size: 14px;
			}
			
			.liCss,
			.namLis {
			    color: white;
			    background-color: red;
			}
			
			#idHead {
			    color: green;
			}
			
			#idLi {
			    background-color: green;
			    border: 2px dotted red;
			    width: 250px;
			    float: none;
			}
			
			#idSp {
			    float: left;
			    border: 3px solid black;
			    list-style: none;
			}
			
			td,
			th {
			    border: 2px orange dotted;
			}
			
			.baseClass {
			    background-color: aqua;
			}